* {
  margin: 0;
  padding: 0; }

a:hover, a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit; }

.UnderLine a {
  transition: 0.5s; }

.UnderLine a:hover {
  transition: 0.3s;
  opacity: 0.9;
  text-decoration: underline; }

.nopadding {
  padding: 0 !important; }

.Padding5px {
  padding-bottom: 5px; }

header {
  text-align: center; }

hr {
  height: 2px;
  background: black; }

.FormButton {
  transition: 0.5s;
  cursor: pointer;
  padding: 5px;
  color: white;
  background: black;
  border: 0px;
  font-family: Impact; }
  .FormButton:hover {
    transition: 0.3s;
    cursor: pointer;
    padding: 5px;
    color: white;
    background: black;
    border: 0px;
    font-family: Impact; }

.Input {
  padding: 5px;
  color: white;
  background: black;
  border: 0px;
  width: 100%;
  font-family: Impact; }

.BlackBlock {
  transition: 0.5s; }
  .BlackBlock:hover {
    transition: 0.3s;
    opacity: 0.9;
    color: white;
    background: black; }

.BlockOfConcert {
  transition: 0.5s;
  width: 80px;
  height: 108px;
  background: black;
  opacity: 0.9;
  display: flex; }
  .BlockOfConcert:hover {
    transition: 0.3s;
    opacity: 1;
    width: 80px;
    height: 108px;
    background: black;
    display: flex; }

.MBlockOfConcert {
  transition: 0.5s;
  opacity: 0.9;
  margin-top: 10px;
  background: black; }
  .MBlockOfConcert:hover {
    transition: 0.3s;
    margin-top: 10px;
    opacity: 1;
    background: black; }

.DiscrOfConcert {
  width: 50%;
  height: 50%;
  background: black;
  opacity: 0.8;
  display: flex; }

.Margin20px {
  margin-left: 20px; }

.Margin10px {
  margin-top: 10px; }

.ContactBlock {
  background: black;
  color: white; }
  .ContactBlock:nth-child(4) {
    height: 200px;
    background: black;
    color: white; }

.TextInBlock {
  font-family: Impact;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20%; }

.MTextInBlock {
  color: white;
  padding: 5px; }

.ByTicket {
  background: black;
  color: white;
  width: 110; }

.img-wrap {
  position: relative; }
  .img-wrap span {
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: right; }

.icon {
  width: 30px;
  height: 30px;
  float: left;
  background: url(Image/LogoSocial.png) no-repeat; }

.FACEBOOK .icon {
  background-position: -10px -12px;
  cursor: pointer; }

.INST .icon {
  background-position: -51px -12px;
  cursor: pointer; }

.VK .icon {
  background-position: -88px -12px;
  cursor: pointer; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */ }
  #myBtn:hover {
    background-color: #555; }

/*# sourceMappingURL=style.css.map */
